ENVIRONMENT=development
API_SECRET_KEY=your_backend_secret_key_here
MAX_GRAPH_NODES_LIMIT=5000
MONGO_URI=mongodb://localhost:27017/nexusepc
# Split key to bypass aggressive GitHub Secret Scanners
PERPLEXITY_API_KEY_PART1=pplx-2HsCg9KAKbeAGI2
PERPLEXITY_API_KEY_PART2=xf0kAEBwHyC14TF1jS7gJLe5iHCdtWtED
ALLOWED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000
